/* mat-sidenav-container{
   height:100% 
}

mat-sidenav , mat-sidenav-content{
padding:16px;
}
mat-sidenav{
 background-color:lightcoral;
 width:200px;
} */

.side{
   width:200px;
   background-color: #3f51b5;
}
mat-drawer-container{
   height: 100%;
}