.main-div mat-card{
    padding:0px;
    /* margin-top: 5%; */
    }
    .login-form{
       padding :20px;
    }
    .login{
        text-align: center;
        margin-bottom: 30px;
    }

    .gender{
 border: 1px solid rgba(0, 0, 0, 0.377);
border-radius: 4px;
margin-bottom: 7%;
height: 3rem;
display: flex;
justify-content: left;
padding-top: 3%;
}
.main-div{
    margin-top: 12%;
}